@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
h1 {
  font-size: 2em !important; }

h2 {
  font-size: 1em !important; }

.bg-cancelar {
  background-color: #e63946;
  border-color: #e63946;
  color: #fffefe;
  font-size: medium;
  border-radius: 10px;
  width: 40%; }

.bg-aceptar {
  background-color: #323232;
  border-color: #323232;
  color: #fffefe;
  font-size: medium;
  border-radius: 10px;
  width: 40%; }

.ofertasDelDia {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  animation: zoomInDown;
  /* Animación de las ofertas */
  animation-duration: 4s; }

/*Formato a las imágenes de las ofertas*/
.ofertasDelDia__imagen {
  border-radius: 40px;
  width: 100%; }

.imgCarusel {
  border-radius: 20rem; }

.pieDePagina {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 2rem; }

.pieDePagina__posicionFormInicio {
  display: flex;
  justify-content: center; }

.pieDePagina__fieldLogin {
  width: 100%;
  margin-left: 600px;
  margin-right: 600px; }

input {
  cursor: pointer;
  color: #fffefe;
  font-size: medium;
  border-radius: 10px;
  border-color: #323232 !important;
  width: 100%; }

fieldset {
  border: 2px solid #323232 !important;
  border-radius: 10px !important;
  margin: 2rem !important; }
  fieldset legend {
    color: #323232;
    font-size: 20px;
    font-weight: 1000;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Nunito', sans-serif; }

.formControl {
  width: 97.5%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fffefe;
  color: #323232;
  border-radius: 10px;
  border: 2px solid #e63946; }

.botonLogin {
  background-color: #323232;
  width: 50%;
  margin-left: 25%;
  font-size: 16px;
  height: 50px;
  color: #fffefe;
  border-radius: 10px;
  border-width: 4px;
  border-color: #323232; }

.link {
  text-decoration: none;
  color: #e63946;
  float: right;
  font-size: 20px;
  margin-bottom: 15px; }

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  margin: auto; }

.formGroup {
  position: relative;
  margin-bottom: 15px; }

.mainNosotros {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  justify-content: space-evenly;
  width: 50%;
  height: 100%; }

/*Formato del título de NOSOTROS*/
.mainNosotros__tituloAboutUs {
  display: inline-block;
  margin: 0 0.5rem;
  animation: fadeInUp;
  animation-duration: 2s; }

.mainNosotros__nosotrosPadre {
  display: flex;
  justify-content: center; }

.mainNosotros__maps {
  border-radius: 3rem;
  text-align: center;
  float: right;
  padding: 2rem; }
  .mainNosotros__maps iframe {
    width: 100%;
    height: 100%; }

.mainNosotros__miVideo {
  float: left;
  padding: 2rem;
  width: 100%;
  text-align: center; }

video {
  border-radius: 20px; }

.mainNosotros__textoAlineado {
  align-items: center;
  justify-content: center; }

/*Formato y Animación a párrafo*/
.pNosotros {
  color: #323232;
  font-style: italic;
  font-size: 13pt;
  line-height: 30pt;
  text-align: center;
  margin: 3rem;
  animation: fadeInUp;
  animation-duration: 2s; }

.pNosotros2 {
  color: #323232;
  font-style: italic;
  font-size: 14pt;
  line-height: 30pt;
  text-align: center;
  margin: 3rem;
  animation: fadeInUp;
  animation-duration: 2s;
  font-weight: bold; }

.pNosotros3 {
  color: #323232;
  font-style: italic;
  font-size: 16pt;
  line-height: 30pt;
  text-align: center;
  margin: 3rem;
  animation: fadeInUp;
  animation-duration: 2s;
  font-weight: bold; }

.pNosotros4 {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: #323232;
  font-size: 20pt;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: 0.8rem;
  text-align: center;
  margin: 3rem;
  animation: fadeInUp;
  animation-duration: 2s; }

/*Formato e imagen del encabezado*/
.headerPadre {
  display: flex;
  justify-content: center;
  background-image: url("../multimedia/encabezado4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2rem;
  background-position: center;
  font-family: 'Nunito', sans-serif; }

header nav a:hover {
  color: #ff914d; }

/*Formato de las listas*/
.headerPadre__menuPrincipal {
  text-align: center;
  margin-top: 40rem;
  color: #fffefe;
  font-weight: 1000;
  background: linear-gradient(to right, #e63946, #000000);
  border-radius: 20px;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  list-style: none;
  /*Formato del Menu y Submenu*/ }
  .headerPadre__menuPrincipal li {
    display: inline-block;
    position: relative;
    padding: 3rem;
    font-size: 2.5rem;
    transition: all 2s; }
  .headerPadre__menuPrincipal ul {
    position: absolute;
    display: none; }
    .headerPadre__menuPrincipal ul li {
      display: block;
      background: linear-gradient(to right, #e63946, #000000); }
  .headerPadre__menuPrincipal .headerPadre__bordeSuperior {
    margin-top: 2rem; }
  .headerPadre__menuPrincipal .headerPadre__bordeInferior {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
  .headerPadre__menuPrincipal li:hover ul {
    display: block;
    animation: fadeIn;
    animation-duration: 500ms; }

.mainPromociones {
  display: flex;
  flex-direction: column; }

/*Formato del título de promociones*/
.mainPromociones__titulo {
  display: inline-block;
  animation: fadeInLeft;
  animation-duration: 2s; }

.mainPromociones__ofertasPadre {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem; }

.mainPromociones__ofertasPreciosCuidados {
  padding-bottom: 20rem;
  width: 20%;
  animation: zoomInDown;
  animation-duration: 2s; }

/*Animacion a ofertas*/
.mainPromociones__animacionOfertasPadre:hover {
  animation: flip;
  animation-duration: 2s; }

.mainPromociones__ofertasDelDia {
  border-radius: 40px;
  width: 100%; }

.carouselImg {
  width: 100%;
  height: 100%; }

.pPromociones {
  padding-top: 1rem;
  color: #323232; }

.mainFyv {
  display: flex;
  flex-direction: column; }

/*Formato del título de FRUTAS Y VERDURAS*/
.mainFyv__titulo {
  display: inline-block;
  margin: 0 0.5rem;
  animation: fadeInRight;
  animation-duration: 2s; }

/*Formato a Secciones de Frutas y Verduras*/
.mainFyv__seccion {
  display: flex;
  justify-content: center; }

.mainFyv__estiloTablas {
  width: 100px; }

.mainFyv__cantidadFyv {
  width: 7rem; }

/*Animación a botones de la tabla*/
.mainFyv__botonesAnimacion:focus {
  animation: heartBeat;
  animation-duration: 1s; }

.titleProd {
  padding-left: 0% !important; }

.mainMiCarrito__seccion {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.estiloRadios {
  margin-bottom: 2rem; }

.mainMiCarrito__estiloTablas {
  width: 100px; }

.botonMiCompra {
  display: none; }

.BotonCompraClase {
  margin-top: 10%;
  padding-left: 20%;
  padding-right: 27%; }

/*Formato a formulario*/
.mainMiCarrito__formPadre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.mainMiCarrito__divFieldset {
  display: flex;
  flex-direction: column;
  padding: 1rem; }

/* Clase de los botones Radio */
.mainMiCarrito__radioBoton {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .mainMiCarrito__radioBoton input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .mainMiCarrito__radioBoton input:checked ~ .checkmark {
    background-color: #e63946; }
  .mainMiCarrito__radioBoton input:checked ~ .checkmark:after {
    display: block; }
  .mainMiCarrito__radioBoton .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white; }

.mainMiCarrito__radioBoton:hover input ~ .checkmark {
  background-color: #ccc; }

.mainMiCarrito__botonConfirmarCompra {
  background-color: #e63946;
  color: #fffefe;
  font-size: medium;
  border-radius: 10px;
  border-color: #e63946; }

/*Formato de las tablas*/
table {
  border-spacing: 5%;
  border-radius: 10px;
  text-align: center;
  border-collapse: separate; }
  table tr th {
    background-color: #323232;
    color: #fffefe;
    font-size: 2rem;
    width: 25%; }
  table tr td {
    color: #e63946;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 1000;
    width: 25%;
    padding-top: 2rem; }

iframe {
  border-radius: 20px; }

/* Creo el checkmark */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.seccionTablas {
  padding-top: 4rem; }

.menuPrinc {
  border-radius: 20px;
  list-style: none; }
  .menuPrinc li {
    display: inline-block;
    position: relative;
    padding: 2rem;
    transition: all 2s; }
    .menuPrinc li a {
      font-size: medium; }
  .menuPrinc ul {
    position: absolute;
    display: none;
    margin-left: 4rem;
    font-size: large;
    background-color: transparent;
    border-color: transparent; }
    .menuPrinc ul li {
      display: block; }
      .menuPrinc ul li a {
        font-size: medium; }

.bordeSuperior {
  margin-top: 2rem; }

.bordeInferior {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.aColor {
  background-color: transparent;
  color: white;
  text-decoration: none; }

.aColor:hover {
  color: #fecea8; }

/*Formato del logo*/
@keyframes logoAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  20%, 80% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(100px); } }

/*Animacion del logo*/
.logoMov {
  animation-name: logoAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  animation-play-state: initial;
  margin-right: 4rem; }

.coloNavBar {
  background-color: white !important; }

/*Diseño de imagen de fondo*/
.headerDesignImg {
  justify-content: center;
  background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../multimedia/encabezado4.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2rem;
  background-position: center;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 10rem; }

/*Animacion y ubicacion del titulo*/
.headerDesignImg__tituloUbicacion {
  display: flex;
  justify-content: flex-start;
  animation: fadeInLeft;
  animation-duration: 2s; }

.headerDesignImg__titulo {
  padding-top: 20rem;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 4rem; }

.logo2 {
  width: 50%;
  height: 50%;
  margin-right: 5rem; }

@media only screen and (max-width: 1024px) {
  .barraNavegacion {
    padding-right: 10rem;
    padding-left: 2rem; } }

@media only screen and (max-width: 767px) {
  .barraNavegacion {
    padding-right: 0rem;
    padding-left: 0rem; }
  .logo2 {
    width: 78%;
    padding-left: 9rem;
    padding-bottom: 5rem; } }

/* Estilos Modo Tablet */
@media only screen and (max-width: 768px) {
  .sizeMetodoPago {
    font-size: medium; }
  .bodyNotFound {
    padding: 50px; }
  .seccionTablas {
    padding-top: 4rem;
    justify-content: center;
    width: 100%; }
  .ofertasDelDia {
    flex-direction: row; }
  .headerDesignImg__titulo {
    font-size: 100%; }
  main {
    padding: 2rem; }
  article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .padreLogoCarrito {
    width: 100%; }
  .posicionFormInicio {
    display: flex;
    justify-content: center; }
  .menuPrincipal {
    display: flex;
    flex-direction: row; }
  .otrosProductosH1 {
    font-size: 4rem; }
  a {
    font-size: small; }
  .headerDesignOtrosProd {
    background-position: fixed; } }

/* Estilos Modo Celular */
@media only screen and (max-width: 425px) {
  .desaparecerEspacio {
    display: none; }
  .mainMiCarrito__radioBoton {
    font-size: small; }
  .botonMiCompra {
    display: block; }
  th {
    font-size: small; }
  .logoNotFound {
    display: none; }
  .titleNotFound {
    font-size: 48px; }
  section div table {
    display: none; }
  .sectioMetodoPago {
    padding-left: 12%; }
  .sizeMetodoPago {
    font-size: small; }
  .imgSeparate {
    margin-bottom: 10%; }
  .alinearTextoMedioPago {
    padding-left: 30% !important; }
  h1 {
    padding-right: 2rem; }
  .labelSize {
    font-size: large; }
  .mainNosotros__nosotrosPadre {
    display: flex;
    flex-direction: column;
    margin: 1rem; }
  .headerDesignImg__titulo {
    font-size: large; }
  .barraNavegacion {
    padding-right: 0rem;
    padding-left: 0rem; }
  .logo2 {
    width: 78%;
    padding-left: 9rem;
    padding-bottom: 5rem; }
  main {
    padding: 2rem; }
  .generalBody {
    display: flex;
    flex-direction: column; }
  a {
    font-size: large; }
  .padreLogoCarrito {
    width: 60%; }
  .miCarrito {
    width: 15%; }
  .carritoEstatico {
    padding-left: 20rem; }
  .menuPrincipal {
    background-image: none; }
  .pieDePagina__fieldLogin {
    width: 10%;
    text-align: center; }
  aside {
    display: none; }
  article {
    display: none; }
  .posicionFormInicio {
    margin: 10%; }
  .tituloProductos {
    animation: fadeInLeft;
    animation-duration: 2s;
    padding-top: 4rem;
    font-size: small; }
  .logo {
    width: 40%; }
  .logoModif {
    display: none; }
  .otrosProductosH1 {
    font-size: 2rem; }
  .headerDesignOtrosProd {
    padding-bottom: 30%; }
  .padreLogoCarritoOtrosProd {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
  .carritoOculto {
    display: none; }
  .carritoCel {
    display: contents; }
  .carritoAbsolute {
    display: block;
    padding-left: 25%;
    position: absolute; }
  .widthContainer {
    padding-top: 4rem; } }

/* Estilos Modo Celular invertido */
@media only screen and (max-width: 757px) {
  .logoModif {
    display: none; } }

.articleAside {
  display: flex;
  justify-content: flex-end;
  padding: 2rem; }

.sizeMetodoPago {
  padding-left: 19%;
  font-size: medium;
  padding-bottom: 20%; }

.metodoPago {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.clipped {
  color: #323232;
  font-size: medium; }

.imgMedioPago {
  justify-content: center;
  align-items: center;
  padding: 25%; }

img, svg {
  width: 30%; }

.alinearTextoMedioPago {
  align-items: center;
  justify-content: center;
  padding-left: 35%; }

.tituloMedioPago {
  padding-left: 50%; }

.sectioMetodoPago {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.loyalty-buylevel6 {
  padding-right: 1rem; }

.loyalty-buylevel6__wrapper {
  margin: 0 0 0 10px;
  width: 1180px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0;
  border-radius: 6px;
  overflow: hidden; }

section > .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0; }

.loyalty-buylevel6__header {
  padding: 16px 24px;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: -webkit-linear-gradient(left, #323232 55%, #e63946);
  background: linear-gradient(90deg, #323232 55%, #e63946);
  -webkit-align-items: center;
  align-items: center; }

.loyalty-buylevel6__body {
  padding: 24px; }

.loyalty-buylevel6__body-benefit-logo {
  display: flex;
  justify-content: center;
  align-items: center; }

.loyalty-buylevel6__body-title {
  display: flex;
  justify-content: center;
  align-items: center; }

.loyalty-buylevel6__body-benefit-text {
  display: flex;
  justify-content: center;
  align-items: center; }

.loyalty-buylevel6__action {
  border-top: 1px solid #ededed;
  padding: 16px 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.andes-button__content {
  color: #e63946; }

.andes-button__content:hover {
  color: #323232; }

/*Formato de los cards con los Productos*/
.cardsOtrosProductos {
  justify-content: space-evenly; }

/*Formato de los títulos dentro del card*/
.titulosCards {
  text-align: center;
  font-size: large; }

.sectionCards {
  padding: 2%; }

/*Formato del título de VALORACION*/
.tituloValoracion {
  display: inline-block;
  margin: 0 0.5rem;
  animation: fadeInRight;
  animation-duration: 2s; }

/*Estilo de selección de Sexo*/
select {
  background: #323232;
  cursor: pointer;
  color: #fffefe;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 100px;
  font-family: 'Nunito', sans-serif; }

/*Estilo de los input a completar*/
form div {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center; }
  form div label {
    color: #323232;
    font-family: courier;
    font-weight: 1000;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif; }
  form div input {
    background-color: #fffefe;
    border-color: #323232;
    color: #323232;
    width: 100%;
    text-align: center; }

/*Estilo de botones de Valoración*/
.botonesValoracion {
  color: #fffefe;
  font-size: medium;
  border-radius: 10px;
  width: 40%; }

.divBotonesValoracion {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/*Animación a input de Valoración*/
.inputValoracion {
  transition: all 2s;
  width: 100%; }

/*Animación de TextArea, modificado de Bootstrap*/
.labelSize {
  font-size: small; }

.textAreaModel {
  border-color: #323232;
  border-radius: 20px;
  color: #323232;
  font-size: 14px; }

/*Clase de los checkbox agrupados*/
.checkbox {
  border-color: #e63946;
  border-radius: 40px;
  color: #fffefe;
  text-align: center;
  margin: auto; }

.checkbox:checked {
  background-color: #e63946;
  border-color: #e63946; }

.checkbox:active {
  border-color: #e63946; }

.checkbox:focus {
  border-color: #e63946;
  outline: 0; }

/*Estilo de los checkbox*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee; }

.container:hover input ~ .checkmark {
  background-color: #ccc; }

/*Cuando el check es presionado, coloca Verde al checked*/
.container input:checked ~ .checkmark {
  background-color: #e63946; }

/*Tilde del checkbox*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/*Muestro el tilde cuando es checked*/
.container input:checked ~ .checkmark:after {
  display: block; }

/*Estilo del checkmark*/
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.mainValoracion {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 0.5fr 2fr;
  justify-items: center; }

#valoracion {
  padding-left: 1rem; }

.bodyNotFound {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #727272;
  line-height: 1.6;
  background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../multimedia/encabezado4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.containerNotFound {
  max-width: 500px;
  margin: 0 auto; }

.titleNotFound {
  margin: 0 0 40px;
  font-size: 60px;
  line-height: 1;
  color: #fffefe;
  font-weight: 700; }

.subtitleNotFound {
  margin: 100px 0 0;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #fffefe;
  text-transform: uppercase; }

.pNotFound {
  font-size: 16px;
  margin: 1em 0;
  color: #fffefe; }

.go-back a {
  display: inline-block;
  margin-top: 10em;
  margin-bottom: 10em;
  padding: 10px;
  color: #fffefe;
  font-weight: 700;
  border: solid 2px #e7e7e7;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.go-back a:hover {
  border-color: #1B1A1A; }

.containerNotFound {
  text-align: center; }

.logoNotFound {
  animation-name: logoAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  animation-play-state: initial;
  margin-left: 4rem; }

/*---------------- Reseteo ----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif; }

.navContainer {
  margin-bottom: 100px; }

/******************************** Estilos Generales ********************************/
/*Títulos de cada página*/
h1 {
  text-align: center; }

/*SubTítulos de cada página*/
h2 {
  text-align: center;
  color: #323232;
  padding-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  animation: fadeInUp;
  animation-duration: 2s; }

/*Formato de los links*/
a {
  color: #fffefe;
  text-decoration: none; }

/*Formato del Body*/
body {
  display: flex;
  flex-flow: column; }

main {
  display: flex;
  flex-flow: column;
  justify-content: flex-end; }

.aBreacrumb {
  color: black; }
