/*Formato de los cards con los Productos*/
.cardsOtrosProductos{
    justify-content:space-evenly;
}

/*Formato de los títulos dentro del card*/
.titulosCards{
    text-align: center;
    font-size: large;
}

.sectionCards{
    padding: 2%;
}