.mainFyv{
    display: flex;
    flex-direction: column;
}

/*Formato del título de FRUTAS Y VERDURAS*/
.mainFyv__titulo{
    display: inline-block;
    margin: 0 0.5rem;
    animation: fadeInRight;
    animation-duration: 2s; 
}


/*Formato a Secciones de Frutas y Verduras*/
.mainFyv__seccion{
    display: flex;
    justify-content: center;
}

.mainFyv__estiloTablas{
    width: 100px;    
}

.mainFyv__cantidadFyv{
    width: 7rem;
}

/*Animación a botones de la tabla*/
.mainFyv__botonesAnimacion:focus{
    animation: heartBeat; 
    animation-duration: 1s; 
}

.titleProd{
    padding-left: 0% !important;
}