/*Formato e imagen del encabezado*/
.headerPadre{
    display: flex;
    justify-content: center;
    background-image: url("../multimedia/encabezado4.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2rem;
    background-position: center;
    font-family: 'Nunito', sans-serif;  
}

header nav a:hover{
    color: #ff914d;
}

/*Formato de las listas*/
.headerPadre__menuPrincipal
{    
    text-align: center;
    margin-top: 40rem;
    color:#fffefe;
    font-weight: 1000;    
    background: linear-gradient(to right, #e63946, #000000);
    border-radius: 20px;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    list-style: none;
    
    /*Formato del Menu y Submenu*/
    li{
        display: inline-block;    
        position: relative;
        padding: 3rem;
        font-size: 2.5rem;
        transition: all 2s;
    }

    ul{
        position: absolute;    
        display: none;  
        li{
            display: block;
            background: linear-gradient(to right, #e63946, #000000);
        }      
    }

    .headerPadre__bordeSuperior{
        margin-top: 2rem;
    }

    .headerPadre__bordeInferior{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    li:hover ul{
        display: block;
        animation: fadeIn; 
        animation-duration: 500ms;
        
    }
}