/*Diseño de imagen de fondo*/
.headerDesignImg{
    justify-content: center;
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../multimedia/encabezado4.jpg");
    background-size: cover; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2rem;
    background-position: center;
    font-family: 'Nunito', sans-serif;   
    padding-bottom: 10rem;
}
/*Animacion y ubicacion del titulo*/
.headerDesignImg__tituloUbicacion{
    display: flex;
    justify-content: flex-start;
    animation: fadeInLeft;
    animation-duration: 2s;
}

.headerDesignImg__titulo{  
    padding-top: 20rem;      
    color: white;
    font-family: 'Nunito', sans-serif;  
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
}